nav{    
    background: #0B3861;
}
footer{    
    background: #0B3861;
}

.cerrar{
    color: #FE2E2E;
    font-weight: 600;
}

.boton_crear{
    background-color:#004aad;
    
}

.boton_crear:hover{
    color: #ffffff;;
    background-color:  #1883ba;
  }

.cardlogin{    
    background: #0B3861;
}

#carruselancho{
    height: 300px;    
}

:root{
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;    
}

body{
    overflow: hidden;
    font-family: 'Mulish', sans-serif;    
    font-weight: 300;
    color: var(--primary);
}

a:hover{
    text-decoration:  none;
}

.bg-primary{background-color: var(--primary) !important;}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}    

#sidebar-container .menu{
    width: 18rem;
}    
